# 서버
HOST=
PORT=

# CORS 프론트 설정
FRONTEND_URL=
LOCAL_FRONTEND_URL=

# 환경
ENVIRONMENT=

# 로깅 설정
LOG_LEVEL=
LOG_FORMAT=
LOG_FILE_PATH=
LOG_ROTATION=
LOG_RETENTION=
LOG_COMPRESSION=

# POSTGRES 정보
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_NAME=

# MongoDB 정보
MONGODB_HOST=
MONGODB_PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_NAME=

# Redis 정보
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# 인증 정보
ACCESS_TOKEN=

# USER LOGIN JWT 설정
USER_LOGIN_JWT_SECRET_KEY=
USER_LOGIN_JWT_ALGORITHM=
USER_LOGIN_JWT_EXPIRATION_DAYS=
USER_LOGIN_COOKIE_NAME=

# 공유 JWT 설정
SHARE_JWT_SECRET_KEY=
SHARE_JWT_ALGORITHM=
SHARE_JWT_EXPIRATION_DAYS=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth Redirect Base URL
OAUTH_REDIRECT_BASE_URL=

# NaverCloud S3 Object Storage 설정
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=
S3_BUCKET_NAME=
S3_ENDPOINT_URL=

# LLM
GOOGLE_GEMINI_API_KEY=

# Papago (Naver Developers)
PAPAGO_CLIENT_ID=
PAPAGO_CLIENT_SECRET=

# Langsmith(Optional)
LANGCHAIN_TRACING_V2=
LANGCHAIN_ENDPOINT=
LANGCHAIN_PROJECT=
LANGCHAIN_API_KEY=